@use './styles/material-theme.scss';
@use 'material-icons/iconfont/material-icons.scss';

/* roboto-300 - light */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/roboto-v48-latin-300.woff2') format('woff2');
}

/* roboto-regular - regular */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-v48-latin-regular.woff2') format('woff2');
}

/* roboto-500 - medium */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-v48-latin-500.woff2') format('woff2');
}